﻿body.single-cama table.datatable-json,
body.single-cama table.datatable,
body.single-cama table.tablesaw {
  font-size: 12px;
}
body.single-cama table.datatable-json tr.even td,
body.single-cama table.datatable tr.even td {
	background-color: #eeeeee;
}

table.datatable-json tr th.align-right,
table.datatable-json tr td.align-right,
table.datatable tr th.align-right,
table.datatable tr td.align-right {
	text-align: right;
}
table.datatable-json tr th.align-right { padding-right: 20px; }
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  font-size: 12px;
  line-height: 1.4em;	
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #008bc0;
  border: none;
  border-radius: 4px;
  color: #fff !important;
  line-height: 1.4em;
}
table.dataTable.no-footer {
  border-bottom: solid 3px #646464;
}
table.dataTable thead th, table.dataTable thead td {
  border-bottom: solid 3px #646464;
  padding: 10px 10px;
}
table.dataTable thead th, table.dataTable tfoot th {
  font-weight: 600;
}


body.single-cama .tablesaw th, body.single-cama .tablesaw td {
  padding: 0.5em 0.5em 0.5em 0;
}

body.single-cama .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
  float: none;
}

#cama-land-details table tr td:first-of-type,
#cama-land-details table tr th:first-of-type {
	white-space: nowrap;
}

.tabs_XXX {
	display: none;
	font-size: 12px;
	margin-bottom: 1em;
}
#cama-search { margin: 0 0 1em 0; }
#cama-search form { margin: 0; }
#cama-search select,
#cama-search input[type=text],
#cama-search input[type=submit] {
	width: 100%;
	max-width: 100%;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#cama-search input[type=submit] {
	text-shadow: none;
	padding: 3px 10px;
}

.property-box {
	border: solid 1px #ebebeb;
	background-color: #f8f8f8;
	padding: 10px;
	margin-bottom: 1em;
	border-radius: 0px;

}
.property-info div.last { text-align: right; }
.property-box p,
.property-details p,
.property-info p {
	margin-bottom: 0.1em;
}

.photo-carousel img {
	max-height: 300px;
	padding: 10px;
}
.slick-prev::before, .slick-next::before {
  color: #999999 !important;
}
.slick-slide {
	opacity: 0.7;
}
.slick-slide.slick-active  {
	opacity: 1;
}

.jeo-cama-towndocs  .town-docs {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 500px;
}
@media print {
	.jeo-cama-towndocs .town-docs {
		display: none !important;
	}
}


/* Tabs --- --- --- */
ul#tabs {
    list-style-type: none;
    padding: 0;
	margin: 0;
    border-bottom: solid 2px #008bc0;
}
ul#tabs li {
    display: inline-block;
    background-color: #008bc0;
    border-bottom: solid 2px #008bc0;
	position: relative;
	top: 2px;
    padding: 5px 20px;
	margin: 0 5px 0 0;
    color: #ffffff;
    cursor: pointer;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-transform: uppercase; 
}
ul#tabs li:hover, 
ul#tabs li.active {
    background-color: #d4e2e3;
    border-bottom: solid 2px #d4e2e3;
	color: #666666;
}

ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: #d4e2e3;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
ul#tab li {
    display: none;
	padding: 1em;
}
ul#tab li.active {
    display: block;
}